<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Common CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Section for page-specific CSS -->
    @RenderSection("CustomCss", required: false)
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Dashboard/css/adminlte.min.css">
    <style>
        .main{
            min-height:100vh;
        }
    </style>

</head>
<body>
        <!-- Nav Bar -->
        <nav class="d-flex align-items-center justify-content-between">
            <div class="container">
                <a class="navbar-brand" asp-action = "Index" asp-controller = "Accounts" onclick="toggleNav()"><img src="~/images/LogoGsgWhite.png" alt="Logo" style="height:50px;" class="d-inline-block align-text-top" /></a>
            </div>
        </nav>
        <!-- Main content area -->
        <main class="main container px-5">
            @RenderBody()
        </main>
        <!-- Footer -->
        <footer class="d-flex align-items-center justify-content-center flex-column">
            <div class="container text-white  d-flex justify-content-center align-items-center flex-column fs-6">
                <span class="">© 2024 Walletify. All rights reserved.</span>
                <a>Privacy Policy</a>
            </div>
        </footer>
</body>
</html>
