<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Common CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Section for page-specific CSS -->
    @RenderSection("CustomCss", required: false)
</head>
<body>
        <!-- Nav Bar -->
        <nav class="d-flex align-items-center justify-content-between">
            <div class="container">
                <a class="navbar-brand" onclick="toggleNav()"><img src="~/images/LogoGsgWhite.png" alt="Logo" style="height:50px;" class="d-inline-block align-text-top" /></a>
            </div>
        </nav>
        <!-- Main content area -->
        <main>
        @RenderBody()
        </main>
        <!-- Footer -->
        <footer class="d-flex align-items-center justify-content-center flex-column">
            <div class="container text-white  d-flex justify-content-center align-items-center flex-column fs-6">
                <span class="">© 2024 Walletify. All rights reserved.</span>
                <a>Privacy Policy</a>
            </div>
        </footer>
</body>
</html>
