.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.user-profile {
    position: fixed;
    top: 10px; /* Adjust based on the spacing you need */
    right: 10px; /* Adjust this to align with the navbar's layout */
    z-index: 1001; /* Ensure it's above other elements */
}

.dropdown-menu-right {
    position: absolute;
    top: 100%; /* Makes the dropdown appear below the user profile */
    right: 0;
    display: none;
}

.user-profile:hover .dropdown-menu-right {
    display: block;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
