@model Walletify.ViewModel.Transactions.TransactionViewModel;
@{
    ViewBag.Title = "Walletify-Income";
}
@section CustomCss {
    <link rel="stylesheet" href="~/css/StyleIncome.css" asp-append-version="true" />
}
<section>
    <div class="container">
        <div class="header">
            <div class="image">
                <img src="@Url.Content("~/Images/Income.jpg")" class="w-100 h-100" />
            </div>
        </div>
        <form asp-action="Income" asp-controller="Transaction" method="post">
            <div class="row-field">
                <div class="input-box">
                    <input asp-for="Amount" />
                    <label for="">Amount</label>
                </div>
                <div class="input-box">
                    <select asp-for="CategoryId" class="form-control">
                        <option class="text-success" value="">Select Category</option>
                        @foreach (var category in ViewBag.incomeCategories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row-field message-box">
                <textarea asp-for="Note"></textarea>
                <label asp-for="Note">Note</label>
            </div>
            <div class="button">
                <button asp-action="Income" asp-controller="Transaction" class="text-center text-capitalize">Add</button>
            </div>
        </form>
    </div>
    </section>
