
@{
    ViewBag.Title = "Walletify-Withdraw";
}
@section CustomCss {
    <link rel="stylesheet" href="~/css/StyleWithdraw.css" asp-append-version="true" />
}
<section>
    <div class="container">
        <div class="header">
            <div class="image">
                <img src="@Url.Content("~/Images/withdraw.jpg")" class="w-100 h-100" />
            </div>
        </div>
        <form>
            <div class="row-field">
                    <div class="input-box">
                        <input type="number" required>
                        <label for="">Amount</label>
                    </div>
                    <div class="input-box ">
                        <input type="email" required>
                        <label for="">Category</label>
                    </div>
            </div>
            <div class="row-field message-box">
                     <textarea name="" id="" required></textarea>
                    <label for="">Note</label>
            </div>
            <div class="button">
                <button asp-action="Signin" asp-controller="Accounts" class="text-center text-capitalize">Withdraw Now</button>
            </div>
        </form>
    </div>
