@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav, footer {
    height: 3rem;
    width: 100%;
    background: linear-gradient(135deg, #50c878 10%, #3d9970 100%);
}
/*Nav*/
nav {
    top: 0;
    position: fixed;
    z-index: 10;
    padding: 2rem;
}
nav .container img{
    cursor: pointer;
}

/* Footer*/
footer {
    position: relative;
    bottom: 0;
    height: 4rem;
}

.navbar-brand {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15; 
    padding-left: 1rem; 
}


@media(max-width: 450px){
    footer .container {
        font-size: 12px !important;
    }
}