body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    margin-right: 5.5rem;
}
section{
    margin-top: 8rem;
}

.content .title {
    line-height: 80px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    background: linear-gradient(135deg, #50c878 10%, #3d9970 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content form {
    width: 100%;
    padding: 10px 30px 50px;
}

form .field {
    width: 100%;
    position: relative;
    margin-top: 0.8rem;
}

form .field input,
form .button {
    height: 2.8rem;
    width: 100%;
    border-radius: 25px;
    border: solid 1px lightgray;
    font-size: 17px;
    outline: none;
    transition: all 0.3s ease;
}
    form .field input{
        padding-left: 20px;
    }
    form .field input:focus {
        border-color: rgb(25, 135, 84);
    }

form .field label {
    color: rgb(25, 135, 84);
    font-size: 17px;
}

form .field button {
    background: linear-gradient(135deg, #50c878 10%, #3d9970 100%);
    color: #fff;
    padding-left: 0;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: all 0.3S ease;
}

form .field button:active {
    transform: scale(0.95);
}

form .field button:hover {
    letter-spacing: 1px;
    background: linear-gradient(135deg, #3d9970 10%, #50c878 100%);
}

form .pass-link a,
form .signup-link a {
    text-decoration: none;
    color: rgb(25, 135, 84);
    margin: 8px 0 0 10px;
}

form .signup-link {
    text-align: center;
    color: #262622;
    margin-top: 20px;
}

form .pass-link a:hover,
form .signup-link a:hover {
    text-decoration: underline;
}

.container .img {
    width: 40rem;
}

@media(max-width:1000px) {
    .container .img {
        display: none;
    }

    .container .content {
        width: 100% !important;
        margin: 0 !important;
    }
}

@media(max-width:350px) {
    .content .title {
        margin-top: 1rem;
        font-size: 2rem;
        line-height: 40px;
    }

    form .field {
        margin-top: 1rem;
        height: 2.4rem;
    }
}
/*@media(max-width: 1000px){
    .container .img {
        display: none;
    }
    .wrapper {
        max-width: 80rem;
        min-width: 30rem;
        width: 100%;
    }
}
@media(max-width: 550px) {
    .wrapper {
        max-width: 80rem;
        min-width: 20rem;
        width: 100%;
    }
}
*/
/* Footer*/
footer {
    position: absolute;
    bottom: 0;
}
