@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .order-card {
        color: #fff;
    }

    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }

    .bg-c-green {
        background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    }

    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }

    .bg-c-pink {
        background: linear-gradient(45deg,#FF5370,#ff869a);
    }


    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .card .card-block {
            padding: 25px;
        }

    .order-card i {
        font-size: 26px;
    }

    .f-left {
        float: left;
    }

    .f-right {
        float: right;
    }

    .amount {
        position: absolute;
        right: 20px;
    }
    .bCard{
        background: linear-gradient(135deg, #50c878 10%, #3d9970 100%);
    }

    .btn-secondary.btn{
        background: linear-gradient(135deg, #50c878 10%, #3d9970 100%);
    }

    .progress-bar{
        background: linear-gradient(135deg, #50c878 10%, #3d9970 100%);
    }

</style>


<div class="cards mt-5 pt-5">
    <div class="row">
        <div class="col-md-4 ">
            <div class="bCard card order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Balance</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span class="amount">486</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total saved amount</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span class="amount">486</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Saved amount peer month</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span class="amount">486</span></h2>
                </div>
            </div>
        </div>
</div>


<div class="row mt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Transaction table</h3>
            </div>
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Transaction Id</th>
                            <th>
                                Transaction Type
                            </th>
                            <th>
                                Transaction Categoty
                            </th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Trident</td>
                            <td>
                                Internet
                                Explorer 4.0
                            </td>
                            <td>Win 95+</td>
                            <td> 4</td>
                        </tr>

                        <tr>
                            <td>Trident</td>
                            <td>
                                Internet
                                Explorer 4.0
                            </td>
                            <td>Win 95+</td>
                            <td> 4</td>
                        </tr>

                        <tr>
                            <td>Trident</td>
                            <td>
                                Internet
                                Explorer 4.0
                            </td>
                            <td>Win 95+</td>
                            <td> 4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="mt-4">
    <div class="progress" style="height: 25px;">
        <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated"
             role="progressbar"
             style="width:@ViewBag.Progress%"
             aria-valuenow="@ViewBag.Progress"
             aria-valuemin="0"
             aria-valuemax="100">
            @ViewBag.Progress%
        </div>
    </div>
</div>


<script src="~/Dashboard/plugins/jquery/jquery.min.js"></script>
<!-- Bootstra~/Dashboard->
<script src="~/Dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTabl~/Dashboard Plugins -->
<script src="~/Dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Dashboard/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Dashboard/plugins/jszip/jszip.min.js"></script>
<script src="~/Dashboard/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Dashboard/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Dashboard/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Dashboard/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Dashboard/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE~/Dashboard-->
<script src="~/Dashboard/js/adminlte.min.js"></script>
<!-- AdminLTE~/Dashboarddurposes -->
<script src="~/Dashboard/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["excel", "pdf", "print"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
