@{
    ViewBag.Title = "Walletify";
}
@section CustomCss {
    <link rel="stylesheet" href="~/css/StyleIndex.css" asp-append-version="true" />
}
   
    <header class=" d-flex justify-content-between align-items-center pt-3">
        <div class="container p-5">
            <div class="content d-flex align-items-center">
                <div class="text-content w-50">
                    <h1 class="title text-success fw-bolder">Welcome to <br/> Walletify</h1>
                    <p class="fs-4 my-4">Organize and manage your finances with ease.</p>
                    <div class="btns">
                        <a asp-action="Register" asp-controller="Accounts" class="me-4 fs-5 btn btn-outline-success">Get Started</a>
                        <a asp-action="Signin" asp-controller="Accounts" class="fs-5 btn btn-success">Signin</a>
                    </div>
                </div>
                <div class="img w-50">
                    <img src="@Url.Content("~/Images/money.gif")" class="w-100" />
                </div>
            </div>
        </div>
    </header>
    <section class="feacher-section ">
        <div class="container d-flex flex-column justify-content-center align-items-center p-4">
            <div class="title my-5">
                <h2 class="fs-1 fw-bold text-success">Features</h2>
                <p class="fw-light">What Walletify can offer</p>
            </div>
            <div class="features d-flex justify-content-evenly align-items-center flex-wrap">
                <div class="feature d-flex flex-column justify-content-center align-items-center p-4  position-relative">
                    <div class="image rounded-circle bg-success ">
                        <img src="@Url.Content("~/Images/1.jpg")" class="w-100 rounded-circle object-fit-cover border border-light border-3" alt="Feature's' image" />
                    </div>
                    <div class="text-data d-flex flex-column justify-content-center align-items-center text-center">
                        <h3 class="fs-5 fw-medium my-3 text-success">Track Your Expenses</h3>
                        <p class="fs-6 fw-light w-75">Monitor your spending and see where your money goes.</p>
                    </div>
                </div>
                <div class="feature d-flex flex-column justify-content-center align-items-center p-4 position-relative">
                    <div class="image rounded-circle bg-success ">
                        <img src="@Url.Content("~/Images/2.jpg")" class="w-100 rounded-circle object-fit-cover border border-light border-3" alt="Feature's' image" />
                    </div>
                    <div class="text-data d-flex flex-column justify-content-center align-items-center text-center">
                        <h3 class="fs-5 fw-medium my-3 text-success">Manage Accounts</h3>
                        <p class="fs-6 fw-light w-75">Link your bank accounts and cards for a unified view.</p>
                    </div>
                </div>
                <div class="feature d-flex flex-column justify-content-center align-items-center p-4  position-relative">
                    <div class="image rounded-circle bg-success ">
                        <img src="@Url.Content("~/Images/3.jpg")" class="w-100 rounded-circle object-fit-cover border border-light border-3" alt="Feature's' image" />
                    </div>
                    <div class="text-data d-flex flex-column justify-content-center align-items-center text-center">
                        <h3 class="fs-5 fw-medium my-3 text-success">Secure Transactions</h3>
                        <p class="fs-6 fw-light w-75">All your transactions are encrypted and secure.</p>
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <section class="my-5 p-5 get-started">
        <div class="container d-flex flex-column justify-content-center align-items-center border border-2 border-success p-4">
            <span class="fs-2 fw-bold text-capitalize text-success ">Ready to take control of your finances?</span>
            <span class="my-4 fs-4 fw-normal">Sign up today and start managing your money better with Walletify.</span>
            <a asp-action="Register" asp-controller="Accounts" class="fs-4 btn btn-outline-success">Get Started</a>
        </div>
    </section>

