@{
    ViewBag.Title = "Walletify-Login";
}
@section CustomCss {
    <link rel="stylesheet" href="~/css/StyleSignin.css" asp-append-version="true" />
}
    <section class="d-flex justify-content-center align-items-center pt-3">
    <div class="container  d-flex align-items-center">
        <div class="content w-50">
            <div class="title text-center text-capitalize fw-bolder">login form</div>
            <form asp-action="" asp-controller="">
                <div class="field">
                    <input type="email" required />
                    <label>Email Address</label>
                </div>
                <div class="field">
                    <input type="password" required />
                    <label>Password</label>
                </div>
                <div class="pass-link"><a asp-action="" asp-controller="Accounts">Forget Password?</a></div>
                <div class="field">
                    <button asp-action="" asp-controller="" class="text-center text-capitalize">login</button>
                </div>
                <div class="signup-link">Don't have an account?<a asp-action="Register" asp-controller="Accounts">Signup</a></div>
            </form>
        </div>
        <div class="img w-50" >
             <img src="@Url.Content("~/Images/signin.png")" class="w-100 h-100" />
        </div>
    </div>
    </section>



