
@{
    ViewBag.Title = "Walletify- ForgetPassword";
}
@section CustomCss {
    <link rel="stylesheet" href="~/css/StyleForgetPassword.css" asp-append-version="true" />
}
<section class="d-flex justify-content-center align-items-center pt-3">
    <div class="container  d-flex align-items-center">
        <div class="content w-50">
            <div class="title text-center text-capitalize fw-bolder">Reset Password</div>
            <form asp-action="ForgetPassword" asp-controller="Authentication">
                <div class="field">
                    <label>Code</label>
                    <input type="text" required />
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" required />
                </div>
                <div class="field">
                    <label>Confirm Password</label>
                    <input type="password" required />
                </div>
                <div class="field">
                    <button asp-action="ForgetPassword" asp-controller="Authentication" class="text-center text-capitalize">Reset</button>
                </div>
            </form>
        </div>
        <div class="img w-50">
            <img src="@Url.Content("~/Images/SecurityOn.gif")" class="w-100 h-100" />
        </div>
    </div>
</section>