@model Walletify.EmailService.EmailModel.ResetPasswordViewModel

@{
    ViewBag.Title = "Walletify - Reset Password";
}

@section CustomCss {
    <link rel="stylesheet" href="~/css/StyleRegister.css" asp-append-version="true" />
}

<section class="d-flex justify-content-center align-items-center pt-3">
    <div class="container d-flex align-items-center">
        <div class="content w-50">
            <div class="title text-center text-capitalize fw-bolder">Reset Password</div>
            <form asp-action="PerformResetPasssword" asp-controller="Authentication" method="post">
                <input type="hidden" name="Email" value="@ViewBag.Email" />
                      <div class="field">
                    <label asp-for="Code">Code</label>
                    <input asp-for="Code" required  />
                </div>
                <div class="field">
                    <label asp-for="NewPassword">New Password</label>
                    <input asp-for="NewPassword" required  />
                </div>
                <div class="field">
                    <label asp-for="ConfirmNewPassword">Confirm Password</label>
                    <input asp-for="ConfirmNewPassword" required  />
                </div>
                <div class="field button">
                    <button type="submit" class="text-center text-capitalize">Reset</button>
                </div>
            </form>
        </div>
        <div class="img w-50">
            <img src="@Url.Content("~/Images/SecurityOn.gif")" class="w-100 h-100" />
        </div>
    </div>
</section>
