@{
    ViewBag.Title = "Walletify - Reset Password";
}

@section CustomCss {
    <link rel="stylesheet" href="~/css/StyleRegister.css" asp-append-version="true" />
}

<section class="d-flex justify-content-center align-items-center pt-3">
    <div class="container d-flex align-items-center">
        <div class="content w-50">
            <div class="title text-center text-capitalize fw-bolder">Reset Password</div>
            <form asp-action="ResetPassword" asp-controller="Authentication">
                <input type="hidden" name="Token" value="@Model.Token" />
                <input type="hidden" name="Email" value="@Model.Email" />
                <div class="field">
                    <label>New Password</label>
                    <input type="password" name="Password" required placeholder="Enter your new password" />
                </div>
                <div class="field">
                    <label>Confirm Password</label>
                    <input type="password" name="ConfirmPassword" required placeholder="Re-enter your password" />
                </div>
                <div class="field button">
                    <button type="submit" class="text-center text-capitalize">Reset</button>
                </div>
            </form>
        </div>
        <div class="img w-50">
            <img src="@Url.Content("~/Images/SecurityOn.gif")" class="w-100 h-100" />
        </div>
    </div>
</section>
